<a href="https://colab.research.google.com/github/zoyaholin/Neur265HOLIN/blob/main/coding_homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Homework #1

**Instructions** (Note: it is very important you follow these instructions in order!)

1. Run the first *Code Cell* below.

2. Make a *Markdown Cell* that contains the following information:
  * Your name (small header)
  * The name of this class (italicized)
  * The date (bolded)

3. **Important!**: For each *Code Cell* that you create, make at least one line of code with a `#` in front of it that describes what your code does.

4. Make a *Code Cell* that turns `v_rest1.csv` into a `Pandas DataFrame` called `pandas_data1`, and `v_rest2.csv` into a `Pandas DataFrame` called `pandas_data2`. Recall that we covered how to import `.csv` files as `Pandas DataFrames` in our in-class coding activity on January 30th. 

5. Make a *Code Cell* that converts `pandas_data1` into a `list` variable called `data1`, and converts `pandas_data2` into a `list` variable called `data2`. The following syntax is an example of how to do this:


```
data1 = pandas_data1.values.tolist()
```

6. When you convert a `Pandas DataFrame` into a `list`, it brackets each individual element - we don't want that! To get around this issue, make a *Code Cell* that flattens `data1` and `data2` using the `numpy.squeeze()` function. Your first *Code Cell* imported the `NumPy` module as `np`, so we can use the following code to flatten `data1`:


```
data1 = np.squeeze(data1)
```
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Repeat this for `data2`.

7. Make a *Code Cell* that prints the length of `data1`.

8. Make a *Code Cell* that prints the 5th, 6th, 7th, and 8th elements of `data2`.

9. Make a *Code Cell* that prints the second-to-last and last elements of `data1` (use negative indexing).

10. Make a *Code Cell* that prints the `type` of `data2` by using the `type` function.

11. The first *Code Cell* you ran imports a module called `matplotlib`. In a new *Code Cell*, use `matplotlib` to make a histogram of `data1`. You can use the syntax `plt.hist()` to do this (remember that the variable you are applying the function to goes inside of the parentheses). 

12. In a new *Code Cell*, re-make your histogram and use the `plt.xlabel()` and `plt.ylabel()` functions to label your axes.

13. In a new *Code Cell*, follow the instructions in steps 11 and 12 to make another histogram with axis labels for `data2`. 

14. In a new *Markdown Cell*, write a brief description of any differences that you observe between your two histograms. Does one group of cells seem to have a higher/lower resting membrane potential than the other group of cells?

15. In a new *Code Cell*, create a new variable called `data3`. Let `data3` be a list containing both `data1` and `data2`. 

16. Make a *Code Cell* that prints the last element of `data2`. You must index `data3` to do this (hint: we covered this in our in-class coding activity on February 1st).

17. Save a copy of this notebook to your GitHub repo with the title "coding_homework_1.pynb".

In [1]:
# Import matplotlib, pandas, and numpy

from matplotlib import pyplot as plt

import pandas as pd

import numpy as np

In [2]:
url= 'https://raw.githubusercontent.com/zoyaholin/Neur265HOLIN/main/vrest_1.csv'
pandas_data1=pd.read_csv(url)
pandas_data1

    -67.41802639
0     -66.257684
1     -72.731246
2     -60.049084
3     -74.775228
4     -64.553385
5     -72.007427
6     -79.229415
7     -60.189078
8     -67.794762
9     -71.669600
10    -73.205879
11    -75.260627

In [ ]:
url= 'https://raw.githubusercontent.com/zoyaholin/Neur265HOLIN/main/vrest_1.csv'
pandas_data1=pd.read_csv(url)
pandas_data1